<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>Computers</h1>
<a href="/api/create-update-computers" class="btn btn-outline-secondary">Add new computer</a>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="computers" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Procesor model</th>
                <th>Screen diagonal</th>
                <th>Graphic card type</th>
                <th>Ram memory</th>
                <th>HDD SSD</th>
                <th>Tags</th>
                <th>Added date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each computers}}
            <tr class="text-center">
                <td>{{this.proizvodjac}}</td>
                <td><a href="">{{this.tip}}</a></td>
                <td>{{this.model_procesora}}</td>
                <td>{{this.diagonala_ekrana}} GB</td>
                <td>{{this.tip_graficke_kartice}} GB</td>
                <td>{{this.ram_memorija}}</td>
                <td>{{this.hdd_ssd}}</td>
                <td>
                    {{#each this.tagovi}}
                    <a href="/api/tags/{{this}}" class="w-100 alert alert-primary rounded p-0">{{this}}</a>
                    {{/each}}
                </td>
                <td>{{this.datum_dodavanja}}</td>
                <td><a href="/api/create-update-computers/update/{{this.tip_proizvoda}}/{{this.podtip_proizvoda}}/{{this.proizvodjac}}/{{this.tip}}"
                        class="btn btn-outline-secondary">update</a>
                </td>
                <td><a href="/api/create-update-computers/delete/{{this.tip_proizvoda}}/{{this.podtip_proizvoda}}/{{this.proizvodjac}}/{{this.tip}}"
                        method="delete" class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Procesor model</th>
                <th>Screen diagonal</th>
                <th>Graphic card type</th>
                <th>Ram memory</th>
                <th>HDD SSD</th>
                <th>Tags</th>
                <th>Added date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>