<div id="layoutAuthentication" class="text-dark">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-4">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">{{title}}</h3>
                            </div>
                            <div class="card-body">
                                <form action="/api/create-update-tvs" method="POST" class="row g-3">
                                    <input type="hidden" name="oldkorisnikid" value="{{korisnikid}}">
                                    <input type="hidden" name="oldtipprodukta" value="{{params.tipprodukta}}">
                                    <input type="hidden" name="oldpodtipprodukta" value="{{params.podtipprodukta}}">
                                    <input type="hidden" name="oldproizvodjac" value="{{params.proizvodjac}}">
                                    <input type="hidden" name="olddatumdodavanja" value="{{olddatumdodavanja}}">
                                    <input type="hidden" name="oldtip" value="{{params.tip}}">
                                    <input type="hidden" name="method" value="{{method}}">
                                    <input type="hidden" name="oldtagovi" value="{{rezultat}}">
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">Manufacturer</label>
                                        <input type="text" name="proizvodjac" class="form-control"
                                            value="{{tv.proizvodjac}}" {{readonly}} required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">Type</label>
                                        <input type="text" name="tip" class="form-control" value="{{tv.tip}}"
                                            {{readonly}} required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Subtype</label>
                                        <input type="text" name="podtip_proizvoda" class="form-control"
                                            value="{{tv.podtip_proizvoda}}" {{readonly}} required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Screen typel</label>
                                        <input type="text" name="tip_ekrana" class="form-control"
                                            value="{{tv.tip_ekrana}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Screen diagonal</label>
                                        <input type="text" name="diagonala_ekrana" class="form-control"
                                            value="{{tv.diagonala_ekrana}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Resolution</label>
                                        <input type="text" name="rezolucija" class="form-control"
                                            value="{{tv.rezolucija}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Digital tuner</label>
                                        <input type="text" name="digitalni_tjuner" class="form-control"
                                            value="{{tv.digitalni_tjuner}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Operative system</label>
                                        <input type="text" name="operativni_sistem" class="form-control"
                                            value="{{tv.operativni_sistem}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Price</label>
                                        <input type="text" name="cena" class="form-control" value="{{tv.cena}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Tags</label>
                                        <input type="text" name="tagovi" class="form-control" value="{{tv.tagovi}}"
                                            required>
                                    </div>
                                    <div class="col-12 modal-footer">
                                        <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>