<div id="layoutAuthentication" class="text-dark">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-4">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">{{title}}</h3>
                            </div>
                            <div class="card-body">
                                <form action="/api/create-update-computers" method="POST" class="row g-3">
                                    <input type="hidden" name="oldkorisnikid" value="{{korisnikid}}">
                                    <input type="hidden" name="oldtipprodukta" value="{{params.tipprodukta}}">
                                    <input type="hidden" name="oldpodtipprodukta" value="{{params.podtipprodukta}}">
                                    <input type="hidden" name="oldproizvodjac" value="{{params.proizvodjac}}">
                                    <input type="hidden" name="olddatumdodavanja" value="{{olddatumdodavanja}}">
                                    <input type="hidden" name="oldtip" value="{{params.tip}}">
                                    <input type="hidden" name="method" value="{{method}}">
                                    <input type="hidden" name="oldtagovi" value="{{rezultat}}">
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">Manufacturer</label>
                                        <input type="text" name="proizvodjac" class="form-control"
                                            value="{{computer.proizvodjac}}" {{readonly}} required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">Type</label>
                                        <input type="text" name="tip" class="form-control" value="{{computer.tip}}"
                                            {{readonly}} required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Subtype</label>
                                        <input type="text" name="podtip_proizvoda" class="form-control"
                                            value="{{computer.podtip_proizvoda}}" {{readonly}} required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Processor model</label>
                                        <input type="text" name="model_procesora" class="form-control"
                                            value="{{computer.model_procesora}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Screen diagonal</label>
                                        <input type="text" name="diagonala_ekrana" class="form-control"
                                            value="{{computer.diagonala_ekrana}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Graphic card type</label>
                                        <input type="text" name="tip_graficke_kartice" class="form-control"
                                            value="{{computer.tip_graficke_kartice}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Ram memory</label>
                                        <input type="number" name="ram_memorija" class="form-control"
                                            value="{{computer.ram_memorija}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">HDD SSD</label>
                                        <input type="text" name="hdd_ssd" class="form-control"
                                            value="{{computer.hdd_ssd}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Price</label>
                                        <input type="text" name="cena" class="form-control" value="{{computer.cena}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Tags</label>
                                        <input type="text" name="tagovi" class="form-control"
                                            value="{{computer.tagovi}}" required>
                                    </div>
                                    <div class="col-12 modal-footer">
                                        <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>