<style>
    .border-3 {
        border-width: 3px !important;
    }
</style>
<div class="container text-center mt-4 mb-4">
    <h2>Cassandra - homework I</h2>
    {{#if alertType}}
    <div class="alert alert-{{alertType}}" role="alert">
        {{msg}}
    </div>
    {{/if}}
</div>

<div class="border-top border-bottom border-3">

    <div class="row">
   
        <div class="col-md-3 container mt-2 mb-2">

            <div class="container p-2 w-100">
                
                <a href="/api/fillDatabase" class="btn btn-outline-secondary">Fill database with data</a>
            </div>
        </div>
        <div class="col-md-9 container mt-2 mb-2">
 <div class="mt-3">Add 50 new FAKE users, phones, computers, tvs to cassandra database</div>
        </div>
    </div>

</div>
<div class="border-top border-bottom">
    <div class="container mt-2 mb-2">
        <h3>Users</h3>
        <div class="container p-2">
            <a href="/api/users" class="btn btn-outline-secondary">Show all users</a>
        </div>
    </div>
</div>
<span class="p-2"></span>
<div class="border-top border-bottom">
    <div class="container mt-2 mb-2">
        <h3>Products</h3>
        <div class="container p-2">
            <a href="/api/products" class="btn btn-outline-secondary">Show all products</a>
        </div>
    </div>
</div>
<span class="p-2"></span>
<div class="border-top border-bottom">
    <div class="container mt-2 mb-2">
        <h3>Phones</h3>
        <div class="container p-2">
            <a href="/api/phones" class="btn btn-outline-secondary">Show all phones</a>
        </div>
    </div>
</div>
<span class="p-2"></span>
<div class="border-top border-bottom mb-4">
    <div class="container mt-2 mb-2">
        <h3>Computers</h3>
        <div class="container p-2">
            <a href="/api/computers" class="btn btn-outline-secondary">Show all computers</a>
        </div>
    </div>
</div>
<div class="border-top border-bottom mb-4">
    <div class="container mt-2 mb-2">
        <h3>TVs</h3>
        <div class="container p-2">
            <a href="/api/tvs" class="btn btn-outline-secondary">Show all TVs</a>
        </div>
    </div>
</div>