<div id="layoutAuthentication" class="text-dark">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-4">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Login</h3>
                            </div>
                            {{#if alertType}}
                            <div class="alert alert-{{alertType}}" role="alert">
                                {{msg}}
                            </div>
                            {{/if}}
                            <div class="card-body">
                                <form action="/api/login" method="POST" class="row g-3">
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Email</label>
                                        <input type="text" name="email" class="form-control" value="{{user.email}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Password</label>
                                        <input type="text" name="password" class="form-control"
                                            value="{{user.password}}" required>
                                    </div>
                                    <div class="col-12 modal-footer">
                                        <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="/api/register">Need an account? Sign up!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>