<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>Phones</h1>
<a href="/api/create-update-phones" class="btn btn-outline-secondary">Add new phone</a>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="phones" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Screen diagonal</th>
                <th>Ram memory</th>
                <th>Internal memory</th>
                <th>Camera</th>
                <th>Batery capacity</th>
                <th>Resolution</th>
                <th>Screen type</th>
                <th>Tags</th>
                <th>Added date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each phones}}
            <tr class="text-center">
                <td>{{this.proizvodjac}}</td>
                <td><a class="" href="">{{this.tip}}</a></td>
                <td>{{this.diagonala_ekrana}}</td>
                <td>{{this.ram_memorija}} GB</td>
                <td>{{this.interna_memorija}} GB</td>
                <td>{{this.kamera}}</td>
                <td>{{this.kapacitet_baterije}}</td>
                <td>{{this.rezolucija}}</td>
                <td>{{this.tip_ekrana}}</td>
                <td>
                    {{#each this.tagovi}}
                    <a href="/api/tags/{{this}}" class="w-100 alert alert-primary rounded p-0">{{this}}</a>
                    {{/each}}
                </td>
                <td>{{this.datum_dodavanja}}</td>
                <td><a href="/api/create-update-phones/update/{{this.tip_proizvoda}}/{{this.podtip_proizvoda}}/{{this.proizvodjac}}/{{this.tip}}"
                        class="btn btn-outline-secondary">update</a>
                </td>
                <td><a href="/api/create-update-phones/delete/{{this.tip_proizvoda}}/{{this.podtip_proizvoda}}/{{this.proizvodjac}}/{{this.tip}}"
                        method="delete" class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Screen diagonal</th>
                <th>Ram memory</th>
                <th>Internal memory</th>
                <th>Camera</th>
                <th>Batery capacity</th>
                <th>Resolution</th>
                <th>Screen type</th>
                <th>Tags</th>
                <th>Added date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>