<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>Products</h1>
<a href="/api/create-update-phones" class="btn btn-outline-secondary">Add new phone</a>
<a href="/api/create-update-computers" class="btn btn-outline-secondary">Add new computer</a>
<a href="/api/create-update-tvs" class="btn btn-outline-secondary">Add new TV</a>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="productsTable" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Type of product</th>
                <th>Product subtype</th>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Added date</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr class="text-center">
                <td>{{this.tip_proizvoda}}</td>
                <td>{{this.podtip_proizvoda}}</td>
                <td>{{this.proizvodjac}} GB</td>
                <td><a class="btn disabled" class="btn disabled" href="">{{this.tip}}</a></td>
                <td>{{this.datum_dodavanja}} GB</td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Type of product</th>
                <th>Product subtype</th>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Added date</th>
            </tr>
        </tfoot>
    </table>
</div>