<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<div class="container text-white mt-2">
    <h2 class="mt-2 mb-1">Profile</h2>
    <div id="accordion" class="mt-3 mb-5">
        <div class="card">
            <div class="card-header navbar-color" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-outline-secondary" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        <div class="w-100">User profile data</div>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body navbar-color">
                    <div>User id: {{user.korisnikid}}</div>
                    <div>First name: {{user.firstName}}</div>
                    <div>Last name: {{user.lastName}}</div>
                    <div>Email: {{user.email}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 class="row">Products<h5> added by user</h5>
</h1>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="profileProductsTable" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Type of product</th>
                <th>Product subtype</th>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Added date</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr class="text-center">
                <td>{{this.tip_proizvoda}}</td>
                <td>{{this.podtip_proizvoda}}</td>
                <td>{{this.proizvodjac}} GB</td>
                <td><a href="">{{this.tip}}</a></td>
                <td>{{this.datum_dodavanja}} GB</td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Type of product</th>
                <th>Product subtype</th>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Added date</th>
            </tr>
        </tfoot>
    </table>
</div>
</div>