<div id="layoutAuthentication" class="text-dark">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container mb-4">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-4">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">{{title}}</h3>
                            </div>
                            <div class="card-body">
                                <form action="/api/register" method="POST" class="row g-3">
                                    <input type="hidden" name="_id" value="{{user._id}}">
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">First name</label>
                                        <input type="text" name="firstName" class="form-control" value="{{user.ime}}"
                                            required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationDefault03" class="form-label">Last name</label>
                                        <input type="text" name="lastName" class="form-control" value="{{user.prezime}}"
                                            required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Email</label>
                                        <input type="text" name="email" class="form-control" value="{{user.email}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Password</label>
                                        <input type="text" name="password" class="form-control"
                                            value="{{user.password}}" required>
                                    </div>
                                    <div class="col-12 modal-footer">
                                        <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="/api/login">Have an account? Go to login</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>