<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1 class="row">{{tag}}<h5> tag results</h5>
</h1>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="tagsTable" class="stripe row-border order-column" style="width:100%" style="width:100%">
        <thead>
            <tr>
                <th>Type of product</th>
                <th>Product subtype</th>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Added date</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr class="text-center">
                <td>{{this.tip_proizvoda}}</td>
                <td>{{this.podtip_proizvoda}}</td>
                <td>{{this.proizvodjac}} GB</td>
                <td><a href="">{{this.tip}}</a></td>
                <td>{{this.datum_dodavanja}} GB</td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Type of product</th>
                <th>Product subtype</th>
                <th>Manufacturer</th>
                <th>Type</th>
                <th>Added date</th>
            </tr>
        </tfoot>
    </table>
</div>