<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>Users</h1>
<a href="/api/register" class="btn btn-outline-secondary">Register new user</a>
<div class="container text-dark bg-white rounded p-2 mt-4 mb-4">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Datum kreiranja</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.ime}}</td>
                <td>{{this.prezime}}</td>
                <td>{{this.email}}</td>
                <td>{{this.datum_kreiranja}}</td>
                <td><a href="/api/register/{{this.korisnikid}}" class="btn btn-outline-secondary">update</a></td>
                <td><a href="/api/users/delete/{{this.korisnikid}}" method="delete"
                        class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Datum kreiranja</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>